<p style="color: green"><%= notice %></p>
  <%= render @blog %>
  <div>
    <% if @blog.user == current_user %>
      <%= link_to "Edit this blog", edit_blog_path(@blog) %> |
        <%= link_to 'Delete', @blog,
            data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
      <% end %>
  </div>

  <hr>

  <h2>Comments</h2>
    <%= render @blog.comments %>
  <hr>
  
<h2>Add a comment </h2>
<%= render "comments/form" %>
<%= link_to "Back to blogs", blogs_path %>
